body{
	margin: 0;
	background: #b3d0cb;
}


header{
	background: #1a5c80;
	color: white;
	padding: 15px 10px 0 0;
}

header h1{
		margin: 0;
		display: inline;
		
}

nav ul{
		margin: 0;
		padding: 0 0 0 15px;
		display: inline;
}

nav ul li{
	color: #549dab;
	font-family: "Monospace", Lucida Console, serif;
	display: inline-block;
	list-style-type: none;
	padding: 15px 10px;
}

nav ul li a{
	color: #549dab;
}
h4{
	margin: 0;
}
.goRight{
	float: right;
	background: #11557a;
	padding: 20px;
}

.row{
	background-color: #0d3b59;
}
.col{
	font-family: "Monospace", Lucida Console, serif;
	font-size: 20px;
	display: inline-block;
	background: #0d3b59;
	margin: 0;
	padding: 10px;
	width: 9%;
	color: #549dab;
	//we can use % instead of px this way is better if the screen is diffrent size	
}
.BGforWelcome{
	background: red;
	margin: 0;
	padding: 0;
}
a{
	color: #549dab;
	text-decoration: none;
}
h1{
	margin: 0;
	color: #0d3b59;
}
	.rightSide{
			float: right;	
			color: #0d3b59;
	}
	.colTypeTwo{
			float: left;
	}
	.type{
		margin: 75px 100px 0 50px;
	}
	
	.firstPic{
		float: left;
		margin: 0;
		padding: 5px;
		margin: 0 0 0 7%;
	}
	.typePic{
		float: left;
		margin: 0;
		padding: 5px;
	
	}
	.rowPic{
		clear:both;
		margin: 0;
		padding: 0;
	}
	
	img {
	  max-width:280px;
	  height:auto;
	}
	
	
	footer{
		clear:both;
		//to make it not float with the rest of things
	}
	
	
	.floatLeft{
		display: inline-block;
		float: left;
		list-style-type: none;
	}
	.stopFloat{
		clear: both;
		list-style-type: none;
	}
	ul li dir a img{
		max-width:175px;
		max-height:175px;
	  	height:auto;	
	}
	ul li ul li a img{
		max-width:75px;
		max-height:75px;
	 	height:auto; 	
	}
	
	ul{
		list-style-type: none;
	}
	
	ul li a img{
		max-width:255px;
		max-height:255px;
	  	height:auto;
		margin:0 0 0 25px;
	}
	
	dir{
		margin: 0;
		padding: 0;
	}
	ul{
		margin: 0;
		padding: 0;
	}
	li{
		margin: 0;
		padding: 0;
	}
	ul li ul dir a img{
		max-width:75px;
		max-height:75px;
	 	height:auto; 
	 	margin:0 0 0 25px;
	}
	.moveToTheLeft{
		margin: 0 0 0 100px;
	}
	.moveDown{
	margin: 10.5px 0 0 0;
	}